@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:wght@500;600&family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    background-image: url("keith-misner-h0Vxgz5tyXA-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#heading{
    text-align: center;
    margin-top: 15vh;
    font-size: 7vh;
    color: white;
    /* font-weight: bold; */
}
.main
{
    position: relative;
    top: 12vh;
    left: 40vw;
}
#celsius{
    margin-top: 3vh;
    height: 7vh;
    width: 20vw;
    font-size: 3vh;
}
#fahrenheit{
    height: 7vh;
    width: 20vw;
    font-size: 3vh;
}
.main2
{
    position: relative;
    top: 25vh;
    left: 35vw;
}
#convert{
    height: 5vh;
    width: 15vw;
    background-color: black;
    color: white;
    font-size: 18px;
}
#clear{
    height: 5vh;
    width: 15vw;
    font-size: 18px;
}
input{
    font-family: 'Itim', cursive;
    
}
button
{
    font-family: 'Itim', cursive;
    
}
